.loginBox input{
    padding: 0 12px;
    border: 1px solid #888;
    height: 50px;
    margin: 12px 0;
    border-radius: 15px;
}
.loginBox input:focus{
    outline: none;
}
.forgot{
    margin-top: 15px;
    color: #7CA772;
    text-decoration: none;
}
.loginBox button{
    margin: 5px 0;
    background-color: #7CA772;
    border: none;
    color: white;
    margin-bottom: 15px;
    border-radius: 10px;
    height: 40px;
}
.loginBox button:hover{
    background-color: #7bac70;
}
.loginSign{
    display: flex;
    justify-content: center;
}
.loginSign span{
    font-size: 20px;
    margin-right: 10px;
}
.loginSignLink{
    text-decoration: none;
    color: #7bac70;
    font-size: 20px;
}