.sideWrapper{
    width: 15%;
    height: 100vh;
    background-color: #7CA772;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.sideWrapper button{
    width: 100%;
    height: 50px;   
    padding-left: 12px;
    border: transparent;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    fill: aliceblue;
    color: aliceblue;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
}
.sideWrapper button:hover{
    background-color: white;
    fill: #7CA772;
    color: #7CA772;
}
.sideWrapperTop, .sideWrapperMiddle{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.sideWrapper img{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
}
.sidebarIcons{
    margin-right: 10px;
    width: 35px !important;
    height: 35px !important;
}
.sidebarIconsStar{
    fill: inherit !important;
    margin-right: 10px;
    width: 30px !important;
    height: 30px !important;
}
